<?xml version="1.0" encoding="utf-8"?>
<Root>
  <TrayLength>15</TrayLength>
  <TrayWidth>2</TrayWidth>
  <TrayStack>50</TrayStack>
  <inventoryPath>F:\Development Capstone\VishnuSocket\Common</inventoryPath>
  <TrayOR2Center>45.7</TrayOR2Center>
  <TrayCenter2Center>23.4</TrayCenter2Center>
  <TrayHeight>12.3</TrayHeight>
</Root>