<?xml version="1.0" encoding="utf-8"?>
<Root>
  <TrayLength>11</TrayLength>
  <TrayWidth>2</TrayWidth>
  <TrayStack>6</TrayStack>
  <TrayOR2CenterX>20</TrayOR2CenterX>
  <TrayOR2CenterY>35</TrayOR2CenterY>
  <TrayCenter2CenterRow>27.5</TrayCenter2CenterRow>
  <TrayCenter2CenterCol>65</TrayCenter2CenterCol>
  <TrayHeight>10.15</TrayHeight>
  <SocketDimX>100</SocketDimX>
  <SocketDimY>100</SocketDimY>
  <SocketDimZ>100</SocketDimZ>
  <inventoryPath>C:\Users\Forrest\Documents\IntelSocketDesocketRB\VishnuSocket\Common</inventoryPath>
  <restLocation>-82:220:200:84</restLocation>
  <socketLocation>63:292:200:84</socketLocation>
  <originLocation>-81:390:156:84</originLocation>
</Root>